.avatarContainer {
  position: absolute;
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  pointer-events: none;
  z-index: 11;
}

.ally {
  top: 100px;
  left: 65px;
}

.foe {
  top: 5px;
  right: 80px;
}

.avatarImg {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.blinking {
  animation: blink 0.2s 5;
}

@keyframes blink {
  0% { opacity: 1; }
  50% { opacity: 0; }
  100% { opacity: 1; }
}
